<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.example.batis2.Mapper.EmpMapper'>

    <select id='findById' parameterType='int' resultType='com.example.batis2.Entity.Employee'>
        SELECT * FROM employees WHERE id = #{id}
    </select>
    <!-- Instead of referencing Fully Qualified Class Names we can register Aliases in mybatis-config.xml and use Alias names. -->
    <resultMap type='Employee' id='EmpResult'>
        <id property='id' column='id'/>
        <result property='firstName' column='first_name'/>
        <result property='lastName' column='last_name'/>
        <result property='emailId' column='email_address'/>
    </resultMap>

    <select id='findAll' resultMap='EmpResult'>
        SELECT * FROM employees
    </select>


</mapper>